/* src/Clock.css */
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#clock-svg {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: white;
}
